header {
  text-align: center;
  font-size: 2rem;
}

* {
  background-color: rgb(248, 248, 152);
  text-align: center;
}

.rectangle {
  display: inline-flex;
  width: 400px;
  height: 50px;
  padding: 3rem;
  margin: 3rem;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 1rem;
  border-style: solid;
  border-color: red;
}
.votes-resize {
  width: 50px;
  height: auto;
}
.rectangle2 {
  display: block;
  padding: 3rem;
  margin: 3rem;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  border-style: solid;
  border-color: red;
}
.author-move {
  justify-content: flex-start;
}

.author-icon {
  width: 50px;
  height: auto;
}

img {
  border-style: solid;
  border-color: rgb(6, 6, 6);
}
p {
}
